/* You can add global styles to this file, and also import other style files */

body {
    background: url("assets/images/bg.jpg") repeat-y;
    background-size: cover;
    color: white;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}