.home {
    text-align: center;
    color: black;
}

.coro img {
    height: 350px;
}

.overview {
    color: black;
}

.case {
    width: 80px;
    height: 80px;
}

.overview {
    margin: 7% auto;
}