a {
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    text-decoration: underline;
    color: white;
}

.navbar-brand:hover {
    text-decoration: none;
}

ul li {
    padding-left: 20px;
}

.collapse {
    margin-left: 80px!important;
}

.logout {
    margin-left: 250px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: -10px;
    width: 100%;
    background-color: #212529;
    color: white;
    text-align: center;
    font-size: 200px!important;
}